@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.editor-wrap>textarea{
    width:100%;
    height: 50vh;
    font-size: large;
   border: 0px solid;
   border-radius: 8px;
font-family: 'Poppins', sans-serif;
box-shadow: 0 0 25px black;
margin-bottom: 0.25rem;

}
h2{
    margin: 0;
    color: rgb(255, 255, 0);
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 8px rgb(255, 254, 254);
}
.HTML{
    background-color:rgb(200, 159, 159);
    color: rgb(0, 2, 110);
}
.CSS{
    background-color:rgb(104, 149, 138);
    color: rgb(255, 255, 255);
}
.JS{
    background-color:rgb(170, 168, 121);
    color: rgb(51, 13, 13);
}